body {
    margin: 0px;
    background-image: url("img/telaCadastro.png");
    background-size: cover;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logar {
    width: 90%;
    max-width: 900px; /* Set a maximum width for larger screens */
    height: auto;
    background: rgba(36, 36, 36, 0.438);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    padding: 20px; /* Add padding for better spacing */
}

/* Add media query for smaller screens */
@media (max-width: 600px) {
    .logar {
        width: 100%;
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

.logar label,
.logar input,
.logar p,
.logar button {
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logar input {
    border: solid white 0.5px;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.039);
    transition: 0.7s;
}

.logar input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5, inset -20px -20px 20px #ffffff;
    transition: 0.3s;
    color: black;
}

.logar button {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.039);
    transition: 0.5s;
}

.logar button:hover {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5, inset -20px -20px 20px #ffffff;
    transition: 0.3s;
    color: black;
}

.data {
    display: none;
}

.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
}
.logar h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Remover estilos padrão do navegador para o botão */
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
}

.form a{

    color: blue;
}
