// Importe as partes necessárias do Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

// Importe o Bootstrap completo
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";


// Personalize a cor do botão de pesquisa
$btn-outline-success-bg: lightblue;
$btn-outline-success-border: lightblue;
$btn-outline-success-color: white;




// Adicione suas próprias regras de estilo personalizadas aqui

// Restante do seu código SCSS






